body{padding:20px 200px 0;}
* ul li {list-style-type:none;list-style-position:inside;}
a{text-decoration:none;padding:5px 0 5px;display:block;color:#0d0d0d;}
a:hover{color:red;}
.h3{height:3px;}
.mainw{margin-left:auto;margin-right:auto;padding:20px;width:700px;border:#D0D0D0 solid 1px;overflow:hidden;background:#c0c0c0;}
.box{overflow:hidden;}
.label{width:130px;padding:0 2px 0;float:left;}
.ipt{width:200px;float:left;}
.clear{clear:both;}
.meta{float:left;}
.r_op{float:right;}
.zone{padding:0 3px 0;width:90%;float:left;}
.bk{}
.records{}
.op{padding-left:30px;cursor:pointer;}
.lft{float:left;width:70px;padding:2px;}
.ofh{overflow:hidden;padding:5px;}
.loginbox{margin-left:auto;margin-right:auto;}
.sbmt{padding-left:20px;}
.fl{float:left;padding:0 3px 0;}
.header{float:right;}
.search{float:right;}

.bk{border-bottom:dashed 1px;clear:both;}
.pre_page{float:left;}
.nxt_page{float:right;}
/* table */
table a{display:inline;}
table a:hover{color:red;}
/*zone list */
.zone {border-bottom:#D0D0D0 1px dashed;width:100%;}
.zone .zone_name{float:left;}
.zone .del_zone{float:right;}
/*header*//* search form */
.header{margin-top:40px;}
.header .nav{background:#d0d0d0;font-size:20px;float:right;padding-top:3px;padding-bottom:1px;}
.header .nav ul{display:inline;overflow:hidden;margin:0;float:right;}
.header .nav ul li{float:left;padding:2px 5px;}
.header .nav ul li:hover{padding:2px 5px;background:#dcdcdc;}
.header .nav ul li input{float:left;padding-top:5px;font-size:14px;}

/**main **/
.main {}
.main .zones{padding-left:30px;padding-top:10px;font-size:20px;border-top:solid 1px grey;}

/**table **/
table tr{text-align:left;font-size:90%;}
table tr th{border-bottom:dashed 1px #D0D0D0;}
table tr:hover{background: #CCFFCC;    color: #000000;}
table tr td{padding: 0.1em 0.5em 0.1em 0.5em;margin: 0.1em;vertical-align: top;}
table tr th{padding: 0.1em 0.5em 0.1em 0.5em;margin: 0.1em;vertical-align: top;}
table tr span{font-weight:normal;}

.rcdname{min-width:140px;max-width:140px;}
.zonename{min-width:140px;max-width:140px;}
.rcdtype{min-width:70px;max-width:70px;}
.rcddata{min-width:135px;max-width:135px;}
.operator{min-width:170px;max-width:170x;}
.priority{min-width:100px;max-width:100px;}
.ttl{min-width:40px;max-width:40px;}